<!doctype html>
<html class="theme-<%= branding.appearance === "dark" || (branding.appearance === "system" && prefers_dark_mode) ? "dark" : "light" %>">
  <head>
    <title>Finish</title>
    <style>
      html,
      body,
      main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        --border-radius-none: 0px;
        --border-radius-small: 3px;
        --border-radius-medium: 6px;
        --border-radius-large: 12px;
        --border-radius-full: 18px;
        --border-radius: var(--border-radius-<%= branding.border_radius %>);
      }
      .theme-light {       
        --background-color: <%= "#" + branding.light_mode.page_background %>;
        --border-color: <%= "#" + branding.light_mode.border %>;
        --text-color: <%= "#" + branding.light_mode.text %>;
        --button-text-color: <%= "#" + branding.light_mode.button_text %>;
        --button-background-color: <%= "#" + branding.light_mode.button_background %>;
      }
      .theme-dark {       
        --background-color: <%= "#" + branding.dark_mode.page_background %>;
        --border-color: <%= "#" + branding.dark_mode.border %>;
        --text-color: <%= "#" + branding.dark_mode.text %>;
        --button-text-color: <%= "#" + branding.dark_mode.button_text %>;
        --button-background-color: <%= "#" + branding.dark_mode.button_background %>;
      }
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 500px;
        background-color: var(--background-color);
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
        max-width: 400px;
        margin: 20px;
      }
      .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        border: 2px solid var(--button-background-color);
        border-radius: 50%;
        padding: 2px;
      }
      .icon svg {
        width: 32px;
        height: 32px;
        color: var(--button-background-color);
      }
      .success-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .success-message h3 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: normal;
        margin: 0;
        padding: 0;
        color: var(--text-color);
      }
      .success-message p {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
        margin: 12px 0 0 0;
        padding: 0;
        line-height: 1.5;
        color: var(--text-color);
        opacity: 0.7;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="icon">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="success-message">
          <h3>Success!</h3>
          <p>Your account is connected.<br />You can close this page.</p>
        </div>
      </div>
    </main>
  </body>
</html>
